body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }
  
  .registration-form {
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  label {
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label[for="male"]:before,
  label[for="female"]:before,
  label[for="other"]:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #ccc;
  }
  
  label[for="male"]:before {
    background-color: #4caf50;
  }
  
  label[for="female"]:before {
    background-color: #f44336;
  }
  
  label[for="other"]:before {
    background-color: #2196f3;
  }
  
  input[type="radio"]:checked + label:before {
    border-color: #333;
  }
  
  input[type="submit"],
  input[type="reset"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4caf50;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #333;
  }
  .output-box {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    
  }
 
  
    
